* {
    margin: 0%;
    padding: 0%;
    font-family: Inter, sans-serif;
}

*::selection {
    color: #3d7fff;
    background-color: #ebf2ff;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1% 15%;
    margin-right: 25%;
}

header img {
    width: 120px;
}

header ul{
    list-style: none;
    gap: 10%;
    display: flex;
    color: #677788;
    margin-top: 2%;
    font-family: Inter, sans-serif;
}

#home, header ul li:hover {
    color: #3791ff;
    cursor: pointer;
}

section div h1 {
    font-size: 4vw;
    padding-top: 17%;
    color: #274082;
}

section div img {
    width: 120%;
}

section div h1 span{
    display: block;
    
}

section div p {
    font-size: 20px;
    margin-top: 8px;
    color: #677788;
}

section div h1 label{
    box-sizing: border-box;
    background-color: #f9e4cb;
    width: 185px;
    height: 6px;
    display: flex;
    margin-top: -8px;
}

#highlight {
    text-align: center;
    margin-top: 4%;
}

.highlight-div {
    text-align: center;
    margin: 0% 32%;
    font-size: 1.16rem;
}

.text-cap {
    display: block;
    color: #1e2022;
    font-size: .80rem;
    font-weight: 600;
    letter-spacing: .03rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.main-container {
    margin: 0% 15%;
    display: flex;
    justify-content: space-between;
}

.main-title {
    margin: 0%;
}

.table {
    display: flex;
    padding: 3% 10%;
}

.box {
    width: 65%;
    padding: 0% 1%;
}

.box p {
    padding: 0% 20% 0% 0%;
}

svg {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}